/*! Place your custom styles here */


/* ====== HEADER ====== */
[data-gradient-bg] > canvas + .background-image-holder {
    opacity: .1 !important;
}

[data-overlay] *:not(.container):not(.background-image-holder) {
    z-index: 0;
}

.bar .logo {
    max-height: 3em;
 }

 .header-intro h1 {
 	font-family: "Titillium Web";
 	font-weight: 700;
 }

.bar-1 .menu-horizontal > li > .dropdown__trigger, .bar-1 .menu-horizontal > li > a {
	font-size: 0.9em;
}

  .cover .header-video {
    margin: 1.5em 0 !important;
  }

  nav span.dropdown__trigger {
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }

  nav span.dropdown__trigger:hover {
    opacity: 1;
  }

 #form-header {
 	margin-top: 0;
 }

 .token-sale {
 	margin-top: 2em;
 }
 
 .token-sale p.sale-date {
 	font-size: 24px;
 	font-weight: 700;
 	color: #F90066 !important;
 }

 .token-sale h2.sale-date {
  margin-bottom: 10px;
 }

 @media (max-width: 992px) {
  .token-sale p.sale-date {
    font-size: 20px;
  }
 }

 .token-sale .modal-instance, .token-sale a.btn {
 	width: 100%;
 }

 .token-sale span {
 	padding-left: 20px;
 	padding-right: 20px;
 }

 .token-sale hr {
 	border-color: #333;
  margin-top: 25px;
  margin-bottom: 25px;
 }

 .token-sale a.token--button {
  color: #333;
  padding-left: 5px;
  padding-right: 5px;
 }

 .channels span {
  cursor: pointer;
 	padding-left: 15px;
 	padding-right: 15px;
 	opacity: 0.7;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
 }

 .channels a {
  cursor: pointer;
 }

 .channels span:hover {
 	opacity: 1;
 }

 .channels span:first, .footer-channels span:first {
 	padding-left: 0px;
 }

 .footer-channels span {
  cursor: pointer;
  padding-left: 35px;
  padding-right: 35px;
  opacity: 0.7;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
 }

@media (max-width: 766px) {
   .footer-channels span {
    padding-left: 15px;
    padding-right: 15px;
   }
}
 .footer-channels span > a {
  color: #252525;
  cursor: pointer;
  transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -webkit-transition: color .5s ease-in-out;
 }

  .footer-channels span:hover {
    opacity: 1;
  }

 .footer-channels span > a:hover {
  color: #F90066;
  /*opacity: 1;*/
 }

 .token-sale .btn--secondary {
 	background: #dedede;
 }

 .video-link { 
   cursor: pointer;
 }

 /* ====== TOKEN BOX EXPLANATION ====== */

 .token-box {
    background: #ffffff !important;
 }

 .token-box td {
  padding: 2px;
  font-size: 16px;
 }

 .token-box h3 {
  color: #252525 !important;
 }

/* ====== BENEFITS SECTION ====== */

#benefits .fa {
  color: #F90066;
}

@media (min-width: 767px) {
#benefits .feature-3 {
  height: 350px;
}
}

 /* ====== TEAM SECTION ====== */

 #team h4 {
  color: #F90066;
 }

 #team .card-2 .card__top img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
 }

@media (min-width: 767px) {
 #team .card-2 .card__body {
  height: 425px;
 }
}
 
 /* ====== ADVISOR SECTION ====== */

#advisors h4 {
  color: #F90066;
 }

#advisors .feature img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

#advisors a {
  color: #808080;
}

/* ====== REGISTER MODAL SECTION ====== */

.modal_channels span {
  cursor: pointer;
  padding-right: 15px;
  opacity: 0.7;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
 }

.modal_channels span:hover {
  opacity: 1;
 }

 .modal_channels span:hover > a {
  color: #F90066;
 }

 .modal_channels h4 {
  margin-bottom: 10px;
  margin-top: 15px;
 }

  .modal_channels span i {
  margin-right: 5px;
 }

 .modal_channels a {
  font-size: 16px;
  color: #252525;
  text-decoration: none;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
 }

 /* ====== GENERAL CLASSES ====== */

 .btn--primary, .btn--primary:visited {
    background: #78B459;
    border-color: #78B459;
}

 .btn--primary:hover {
    background: #6aa54b;
    border-color: #6aa54b;
}


 .padding-0 {
 	padding-left: 0px;
 	padding-right: 0px;
 }

  .padding-only-right {
 	padding-left: 0px;
 	padding-right: 15px;
 }

 .padding-only-left {
 	padding-left: 15px;
 	padding-right: 0px;
 }

 @media (max-width: 992px) {
  	.padding-only-left {
	 	padding-left: 0px;
	 	padding-right: 0px;
 	}
    .padding-only-right {
	 	padding-left: 0px;
	 	padding-right: 0px;
	}
 }

@media (min-width: 767px) {
  .align-center {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 767px) {
  .modal-container {
    position: fixed;
  }
}